xmodel/src/main/resources/req-get-produto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="money.xsd"/>
    <xs:include schemaLocation="type-response.xsd"/>
    <xs:element name="req-get-produto" type="req-get-produto"/>

    <xs:complexType name="req-get-produto">
        <xs:sequence maxOccurs="1" minOccurs="1">
            <xs:element name="id" type="xs:long"/>
            <xs:element name="type-response" type="type-response"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>