xmodel/src/main/resources/req-add-categoria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="req-add-categoria" type="req-add-categoria"/>

  <xs:complexType name="req-add-categoria">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element type="xs:string" name="nome"/>
      <xs:element type="xs:string" name="descricao"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>