xmodel/src/main/resources/res-add-categoria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="type-response.xsd"/>

  <xs:complexType name="res-add-categoria">
    <xs:sequence>
      <xs:element type="xs:long" name="id"/>
      <xs:element type="type-response" name="type-response"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="res-add-catagoria" type="res-add-categoria"/>
</xs:schema>
