xmodel/src/main/resources/res-add-cliente.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:include schemaLocation="type-response.xsd"/>

    <xs:complexType name="res-add-cliente">
        <xs:sequence>
            <xs:element type="xs:long" name="id" maxOccurs="1" minOccurs="1"/>
            <xs:element type="type-response" name="type-response" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="res-add-cliente" type="res-add-cliente"/>

</xs:schema>
