xmodel/src/main/resources/res-get-produto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="type-response.xsd"/>
    <xs:include schemaLocation="money.xsd"/>

    <xs:element name="res-get-produto" type="res-get-produto"/>

    <xs:complexType name="res-get-produto">
        <xs:sequence maxOccurs="1" minOccurs="1">
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="preco-unitario" type="money"/>
            <xs:element name="categoria" type="xs:long"/>
            <xs:element name="foto" type="xs:base64Binary"/>
            <xs:element type="type-response" name="type-response"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>