xmodel/src/main/resources/type-response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="type-enum-response">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK"/>
      <xs:enumeration value="ERRO"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="type-response">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="mensagem" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="tipo-resposta" type="type-enum-response" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>